@charset "UTF-8";

body{
font-family: Arial, Helvetica, sans-serif;
text-align: center;
padding: 20px;
margin: 0;
background-color: #f4f4f4;
}

.container{
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.select, button{
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button{
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

button:hover{
    background-color: #0056b3;

}

#texto{
    margin-top: 20px;
    font-size: 1.2em;
    padding: 10px;
    background: #fff;
    border-radius: 5px;
}
